/*Version 1.1 */

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('Mark Simonson - Proxima Nova Alt Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_altbold';
    src:url('Mark Simonson - Proxima Nova Alt Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    width:100vw;
    height: 100vh;
    margin:0;
    //border:10px solid blue;
    top:0;
    left:0;
    position:relative;
    //display:flex;
    //align-items:center;     /*middle vertically*/
    text-align:center;
    justify-content:center; /*middle horizontally*/
    //flex-grow:unset;
    overflow-x:hidden;

}

.header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    top:0;
    left:0;
    width:100%;
    //border:5px solid darkgreen;
    height:6vh;
    background: #e2e2e2;
    //opacity: 0.5;
}

.header h1 {
    //border:5px solid purple;
    //display: inline-block;

    color: white;
    //border:5px solid white;
}

.full-container{
    position:relative;
    display:inline-block;
    //border:5px solid darkgreen;
    max-width:3000px;
    //flex-wrap: wrap;
}

.video-container {
	position:relative;
    margin:0 auto;
    padding:0;
	//top:7vh;
	//left:0;
    //border:5px solid red;
    display: block; /*a Div is automatically set to display:block,
                           and a block display is automatically width: 100% of parent's div*/
    //float: left;
    //width: 100%;
    height: auto;
    max-height:1800px;
	overflow:hidden;
	z-index:0;
}
#nav {
    position: absolute;
    width:100%;
    top:0;
    //border:5px solid red;
    //display:flex;
}

#nav ul{
    display:flex;
    justify-content:flex-end;
    width:100%;
    list-style: none;
    padding:0;
    margin-top:5vh;
    margin-right:3vw;
    //border:5px solid red;
    font-size:20px;
    z-index: 3;
}

#nav li{
    //border:5px solid red;
    margin-left: 2%;
    margin-right: 2%;

}

#nav .LastItem{
    padding-right:2%;
}

#nav a{

    //border:5px solid blue;
    //color:white;
    text-decoration: none;
    transition: 0.3s;
}


/*.fullscreen-video-wrap video{
    //position:absolute;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    //max-width:100%;
    //max-height:100%;
}

.video{
    position:relative;
    padding:0;
    top:0;
    left:0;
    background:#225470;
    z-index:1;
    opacity:0.5;
    //max-width:1900px;
    //max-height:1900px;
} */

video{
    position:relative;
    display:block;
    //border:20px solid blueviolet;
    margin:0;
    padding:0;
    width:100vw;
    //height:100vh;
    max-width: 3000px;
    //max-height: 1200px;
    //top:0;
    //left: 0;
    background:black;
    opacity: 0.7;
    //transform: scaleY(0.5);


}

.overlay{
    position:absolute;
    top:6vh;
    left:0;
    display:flex;
    align-items:center;
    justify-content: center;
    //border:5px solid blueviolet;
	height:100%;
	width:100%;
	//background:#225470;
    background:black;
    opacity: 0.7;
    //text-align: center;
	z-index:1;

}

.welcome-text{
    position:relative;
    font-family:Garamond, Georgia, serif;
    //transform: translate(-50%, 0); /*This is to ensure the div remains centered ( compensated Width and Height) */
	z-index:2;
}

.welcome-text h1{
    font-family: 'Proxima Nova';
    display: flex;
    align-items: center;
    justify-content: center;
    //border:5px solid black;
    color: white;
	font-size:65px;
	margin:0;
}

.welcome-text p{
    font-family:Garamond, Georgia, serif;
    font-style:italic;
    margin:0;
    color: white;
	font-size:30px;
	display:block;
}

.about-me {
    position: relative;
    display:inline-block;
    float:left;
    width:99vw;
    max-width:3000px;
    top:0;
    padding:0;
    margin:0;
    text-align:center;
    //border:5px solid indianred;
    background-color: #d6d6d6;
}

.about-me h1{

    font-family:Garamond, Georgia, serif;
    font-size:45px;
    font-weight:bold;
    margin:20px;
    //display:inline-block;
    //border:5px solid red;
}
.about-me p {
    font-family: 'Proxima Nova';
    font-size: 23px;
    font-weight: 300;
    margin: 0 20px 40px;
    max-width:85vw;
    //border:5px solid black;
    display:inline-block;

}
.skills-accomplishment {
    position: relative;
    display:inline-block;
    float:left;
    width:100vw;
    max-width:3000px;
    //border:5px solid black;
    top:0;
    padding:0;
    margin:0;
    text-align:center;
    background-color: whitesmoke;
}


.skills-accomplishment ul{
    font-family: 'Proxima Nova';
    padding:0;
    font-size: 23px;
    font-weight: 300;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    max-height:90px;
    //border:5px solid red;
    justify-content:center;
    //margin-left:2vw;
    width:100%;
    list-style: none;
}

.skills-accomplishment li{
    text-align: center;
    max-width: 50%; /*this is for flex box to wrap around properly*/
    //border:5px solid blue;
    margin-left: 0;
    margin-right: 0;
}
.projects{
    background: #d6d6d6;
    display:inline-block;
    float:left;
    width:100vw;
    max-width:3000px;
    //border:5px solid blue;
}

.projects h1{
    font-family:Garamond, Georgia, serif;
    font-size:50px;
    font-weight:bold;
    margin:20px;
}

.projects ul{
    list-style: none;
    display:flex;
    width:100vw;
    max-width:100%;
    justify-content:center;
    padding:0;
    //border:5px solid red;

}
.projects .image-resize{
    width: 380px;
    height: 280px;
    transition: .3s;
    //border:5px solid red;
    //max-width:100%;
    //height:100%;

}
.projects .image-container{
    position:relative;
    display:flex;           /*flex is necessary for the text to be in the middle*/
    justify-content: center;
    align-items: center;
    //border:5px solid blue;
    padding:0;
    margin:1%;
    //width:480px;
    z-index:0;
}

.viewcontent{
    position:absolute;
    //border:5px solid blue;
    z-index:5;
}

button {
    background:none;
    position: relative;
    color: white;
    width:180px;
    height:50px;
    margin-top:5%;
    border: 1px solid white;
    font-size:18px;
    border-radius: 4px;
    transition:.3s;
    opacity: 0;
}

.image-container h2{
    font-family:Garamond, Georgia, serif;
    font-size: 45px;
    position:relative;
    margin:0;
    //top:0;
    color:white;
    opacity:0;
    transition: .3s;
    z-index:4;
}

.image-container:hover :not(img){
    opacity:1;
}
.image-container:hover img{
    filter:blur(4px) brightness(60%);
    box-shadow:0 0 16px cyan;
}
.image-container button:hover{
    background: white;
    color:black;
}


