.container {
  display: flex;
  height: 100%;
  position: relative;
  overflow: hidden;
  /* border: 2px solid blue; */
}

.container h1 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.flex {
  display: flex;
  gap: 1rem;
}

.heading {
  margin-bottom: 1.5rem;
  width: fit-content;
  /* border: 2px solid blue; */
}

@media screen and (max-width: 1200px) {
  .container {
    display: block;
  }
  .container > div:first-child {
    border-right: none;
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-width: 600px) {
  .flex {
    display: block;
  }
  .form input {
    font-size: 0.85rem;
  }
}
